{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron" id="jumbo1">
    <div class="container">
        <h1>The Django React Tutorial Project</h1>
        <p>This temp is for creating a simple website</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn more</a></p>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Showing the easy way of how to start your first Django in this project within this Django Page</h2>
            </div>
            <div class="col-md-4">
                <h2>Build Model Layers of the application and get our views to interact with the database</h2>
            </div>
            <div class="col-md-4">
                <h2>Rather than use MVC for the App, we will go to the MVVM model just for the sake of ReactJS handling our views on interacting with the REST API.</h2>
            </div>
        </div>
    </div>
{% endblock %}